@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 40 10% 97.5%;
  --foreground: 24 5% 13%;
  --muted: 40 6% 93%;
  --muted-foreground: 24 3% 46%;
  --border: 36 6% 89%;
  --radius: 0.25rem;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
